@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2><a asp-controller="Home" asp-action="Horses">Horses</a></h2>
        <ul>
            <li>Master List by Name</li>
            <li>Master List by Location</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Grains</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="Grains">Grains Master List by Name</a></li>
            <li>Add a Grain</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Users</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="Users">User Master List and Permissions</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><a asp-controller="Home" asp-action="Reports">Reports</a></h2>
        <ul>
            <li>AM Feed Report</li>
            <li>PM Feed Report</li>
        </ul>
    </div>
</div>
