@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">
        <h2>Login</h2>
    </div>


    <div class="col-md-3">
        <h2>Reports</h2>
        <ul>
            <li>AM Feed Report</li>
            <li>PM Feed Report</li>
        </ul>
    </div>
</div>
